[submodule "vendor/tinyplace"]
	path = vendor/tinyplace
	url = git@github.com:tinyhumansai/tiny.place.git
[submodule "vendor/tinycortex"]
	path = vendor/tinycortex
	url = git@github.com:tinyhumansai/tinycortex.git
