[submodule "vendor/tinyflows"]
	path = vendor/tinyflows
	url = https://github.com/tinyhumansai/tinyflows.git
[submodule "vendor/tinyhumans-sdk"]
	path = vendor/tinyhumans-sdk
	url = https://github.com/tinyhumansai/sdk.git
[submodule "vendor/openhuman"]
	path = vendor/openhuman
	url = https://github.com/tinyhumansai/openhuman.git
